body {
  padding-top: 20px;
  padding-bottom: 20px;
}
div.big_categories { margin-bottom: 10px; }
div.big_categories a { margin-left: 5px; margin-right: 5px; }
a.big_category_selected { font-size: x-large; font-weight: bold; }
a.big_category_selected:hover { text-decoration: none; }
a.big_category { font-size: large; }
a.big_category:hover { text-decoration: none; }
div.navbar { margin-bottom: 0px; }
div.container-fluid { padding-left: 0px; padding-right: 0px; }
div.navbar-collapse { padding-left: 0px; padding-right: 0px; }
div.row { margin: 20px 0px 0px 0px; width: 100%; }
a.text-primary:hover { text-decoration: none; color: blue; font-weight: bold; }
a.text-muted:hover { text-decoration: none; color: black; }
div.small_categories { width: 12.3%; float: left; padding-left: 5px; }
div.with_small_categories { float: left; width: 87.7%; padding-left: 5px; padding-right: 5px; }
div.without_small_categories { width: 100%; padding-left: 5px; padding-right: 5px; }
div.small_cluster_dates a { margin-left: 3px; margin-right: 3px; }
div.small_cluster_dates hr { border-top: 10px solid #222; }
div.medium_category_name { font-size: large; font-weight: bold; }
div.small_clusters hr { border-top: 10px solid #eee; }
div.small_clusters a { color: black; }
div.article_title { margin-right: 10px; font-size: large; font-weight: bold; }
div.article_title a { color: black; }
span.small_cluster_article_title { margin-right: 10px; font-size: small; }
div.small_cluster_view_large_cluster img { margin-right: 10px; }
div.article { clear: both; margin-bottom: 20px; }
div.article_photo { float: left; margin-right: 10px; }
img.img-thumbnail { height: 48px; width: 70px; }
span.stripped_article_content { margin-right: 10px; }
span.article_time { margin-right: 10px; }
div.small_cluster_article { clear: both; }
div.small_cluster_article img { margin-right: 10px; }
div.articles_pages { clear: both; text-align: center; }
div.articles_pages a { margin-left: 3px; margin-right: 3px; }
a.text-danger { font-weight: bold; }
div.articles_dates { clear: both; text-align: center; }
div.articles_dates a { margin-left: 3px; margin-right: 3px; }
span.article_origin_url { margin-right: 10px; }
span.article_scrap_count { margin-right: 10px; }
div.article_outlink { font-size: large; }
div.article_outlink a { color: black; }
div.article_outlink div { font-size: small; }